.piechart{
    margin: auto;
    width: 600px;
    height: 300px;
}
.linechart{
    margin: auto;
    width: 800px;
    height: 300px;
}
.barchart{
    margin: auto;
    width: 800px;
    height: 800px;
}